dj-database-url==1.0.0
dj-static==0.0.6
Django==3.2.15
django-adminlte2==0.4.3
django-bootstrap-v5==1.0.11
django-bootstrap5==22.1
django-embed-video==1.4.7
django-stdimage==6.0.1
gunicorn==20.1.0
Pillow==9.2.0
progressbar2==3.43.1
psycopg2-binary==2.9.3
python-utils==2.3.0
ptyprocess==0.6.0
pytz==2018.5
six==1.11.0
sqlparse==0.4.2
static3==0.7.0
whitenoise==6.2.0
