{% load static %}
<header>
    <div class="slider clearfix">
        <div class="camera_wrap camera_azure_skin clearfix" id="camera_wrap_1">
            <div data-src="{% static 'images/Nossalogo (3).jpeg' %}">
                <div class="camera_caption fadeIn">
                    <div class="container">
                        <div class="slider-text row">
                            Consultoria e Projetos  . <br> para a Mineração desde 2022
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="{% static 'images/slide-1.jpg' %}">
                <div class="camera_caption fadeIn">
                    <div class="container">
                        <div class="slider-text row">
                            Oferecemos as melhores <br>soluções qualidade <br> e meio ambiente.
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="{% static 'images/slide-3.jpg' %}">
                <div class="camera_caption fadeIn">
                    <div class="container">
                        <div class="slider-text row">
                            Oferecemos aconselhamento <br> imparcial e serviço de inspeção <br> de alta qualidade
                        </div>
                    </div>
                </div>
            </div>
            <div data-src="{% static 'images/slide-2.jpg' %}">
                <div class="camera_caption fadeIn">
                    <div class="container">
                        <div class="slider-text row">
                            Parceiros Qualificados e <br>Consolidados,  Consulte -nos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>