            {% load static %}
            {% load bootstrap5 %}

            <div class="slider clearfix">
                <div class="camera_wrap camera_azure_skin clearfix" id="camera_wrap_1">
                    <div data-src="{% static 'images/barragemMG.png' %}">
                        <div class="camera_caption fadeIn">
                            <div class="container">
                                <div class="slider-text row">
                                    Consultoria e Projetos  . <br> para a Mineração de Barragem<br> de rejeitos desde 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="{% static 'images/slide-1.jpg' %}">
                        <div class="camera_caption fadeIn">
                            <div class="container">
                                <div class="slider-text row">
                                    Oferecemos as melhores <br>soluções qualidade <br> e meio ambiente.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="{% static 'images/slide-3.jpg' %}">
                        <div class="camera_caption fadeIn">
                            <div class="container">
                                <div class="slider-text row">
                                    Oferecemos aconselhamento <br> imparcial e serviço de inspeção <br> de alta qualidade
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="{% static 'images/slide-2.jpg' %}">
                        <div class="camera_caption fadeIn">
                            <div class="container">
                                <div class="slider-text row">
                                    Parceiros Qualificados e <br>Consolidados,  Consulte -nos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--                <div class="embed-responsive embed-responsive-21by9">-->
<!--&lt;!&ndash;                  <iframe width="1905" height="8" class="embed-responsive-item" src="{% static 'video/barragem.mp4'%}?autoplay=1&mute=1" name="video embed" allow="autoplay; encrypted-media" allowfullscreen></iframe>&ndash;&gt;-->
<!--                    <video controls autoplay loop>-->
<!--                      <source src="{% static 'video/barragem.mp4' %}" type="video/mp4">-->
<!--                    </video>-->
<!--                </div>-->