{% load static %}
<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <title>Contato</title>
            <meta charset="utf-8">
            <meta name = "format-detection" content = "telephone=no" />
            <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
            <link rel="stylesheet" href="{% static 'css/stuck.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="{% static 'css/superfish.css' %}">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
            <!-- Icon -->
<!--            <link rel="stylesheet" href="{% static 'fonts/line-icons.css' %}">-->
            <!-- Owl carousel -->
<!--            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">-->
<!--            <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">-->

            <!-- Animate -->
<!--            <link rel="stylesheet" href="{% static 'css/animate.css' %}">-->
            <!-- Main Style -->
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <!-- Responsive Style -->
            <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

            <!--[if lt IE 9]>
               <div style=' clear: both; text-align:center; position: relative;'>
                 <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                   <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
                 </a>
              </div>
            <![endif]-->
            <!--[if lt IE 9]>
                <script src="{% static 'js/html5shiv.js' %}"></script>
                <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
            <![endif]-->
        </head>
        <body id="top">
        <!--==============================header=================================-->
            <header>
                {% block content%}
                    {% include 'menu.html' %}

            </header>

        <!--=======content================================-->

            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="grid_12">
                            <h2>Contato</h2>
                            <div class="map_wrapper">
                                <iframe id="map_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.9410248613985!2d-43.96294548255615!3d-19.92688989999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6976b7bed4987%3A0x4956b7cdd94acc0a!2sR.%20Chapec%C3%B3%2C%20413%20-%20Prado%2C%20Belo%20Horizonte%20-%20MG%2C%2030411-153!5e0!3m2!1spt-BR!2sbr!4v1661393970245!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-2">
                    <div class="container" style="max-width:1230px;">
                        <div class="row">
                            <div class="grid_4">
                                <h2>Endereço</h2>
                                <dl class="address">
                                    <dt>Brasil, Rua: Chapeco Nº 413 ,<br>CEP, 31411-153. </dt>
                                    <dd><span>Telefone 1:</span>+55 (31) 3321-0021 </dd>
                                    <dd><span>Telefone 2:</span>+55 (31) 99999-4444</dd>
                                    <dd><span class="e-mail">E-mail:</span> <a href="#" class="demo color-1">cotato@fvjsgestao.com.br</a></dd>
                                </dl>
                            </div>
                            <div class="grid_8 fleft">
                                <div class="grid_4 fleft">
                                    {% if messages %}
                                        {% for m in messages %}
                                            <div class="alert alert-{{ m.tags }}" id="msg">
                                                <strong>{{ m }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <h2>Entre em Contato:</h2>
                                <form id="contact-form" name="contato" method="post" action="{% url 'contato' %}" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="success-message">Contact form submitted.</div>
                                    <label class="name">
                                        <input type="text" id="nome" name="nome" placeholder="Name:" required data-error="Campo obrigatório" />
                                    </label>
                                    <label class="email">
                                        <input type="text" placeholder="E-mail:" id="email" name="email" required data-error="Campo obrigatório" />
                                    </label>
                                    <!--<label class="phone">
                                        <input type="text" placeholder="Telefone: " id="telefone" name="telefone" required data-error="Campo obrigatório"/>
                                    </label>-->
                                    <label class="name">
                                        <input type="text" placeholder="Assunto:" id="assunto" name="assunto" required data-error="Campo obrigatório">
                                    </label>
                                    <label class="message">
                                        <textarea id="mensagem" placeholder="Mensagem:" name="mensagem" data-error="Campo obrigatório"></textarea>
                                    </label>
                                    <div class="form_buttons">
                                        <button class="btn" id="form-submit" type="submit">Enviar e-mail</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--=======footer=================================-->
            {% include 'rodape.html' %}

            <script>
                setTimeout(function(){
                    if ($('#msg').length > 0){
                        $('#msg').remove();
                    }
                }, 20000)
            </script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
            <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>
            <script src="{% static 'js/superfish.js' %}"></script>
            <script src="{% static 'js/jquery.mobilemenu.js' %}"></script>

            <script src="{% static 'js/tmStickUp.js' %}"></script>
            {% endblock %}
        </body>
    </html>