{% load static %}
            <div id="stuck_container">
                <div class="container">
                    <div class="row">
                        <div class="logonosso1" style="width:40%;">
                            <span>
                                <a href="{% url 'index' %}">
                                    <img  id="logonosso" alt="FVJS Gestão" src="{% static 'images/logoSugestao4.png' %}" >
                                </a>
                            </span>
                        </div>
                        <div class="grid_12" style="display:contents; width:100%;">
                            <nav class="navbar">
                                <ul class="sf-menu">
                                    <li class="current">
                                        <a href="{% url 'index' %}">Início</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="{% url 'sobrenos' %}">Sobre</a>
                                        <ul>
                                            <li><a href="#">A Empresa</a>
                                            </li>
                                            <li><a href="#">O Grupo</a>
                                                <ul>
                                                    <li><a href="#">Missão</a></li>
                                                    <li><a href="#">Visão</a></li>
                                                </ul>
                                            </li>
                                       </ul>
                                    </li>

                                    <li><a href="{% url 'service' %}">Serviços</a>
                                        <ul>
                                            <li>
                                                <a href="#">Consultoria</a>
                                            </li>
                                            <li>
                                                <a href="#">Alteamento </a>
                                            </li>
                                            <ul>
                                                <li>
                                                    <a href="#">Barragem de Contenção de Rejeitos</a>
                                                </li>
                                            </ul>
                                            <li>
                                                <a href="#">Captação</a>
                                            </li>
                                            <li>
                                                <a href="#">Auditorias</a>
                                            </li>
                                            <li>
                                                <a href="#">Segurança</a>
                                            </li>
                                            <li>
                                                <a href="#">Todos</a>
                                            </li>
                                            <li>
                                                <a href="#">Certificações</a>
                                                <ul>
                                                    <li><a href="#">ISO 9001:2015</a></li>
                                                    <li><a href="#">ISO 14001:2014</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'empresas' %}">Empresas Parceiras</a></li>

                                    <li><a href="{% url 'contato' %}">Contato</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
