        {% load static %}
        <footer style="background-color: #D6DCDF;">
            <div class="container">
                <div class="row">
                    <div class="grid_12 aligncenter">
                        <ul class="socials clearfix">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a class="envelope" href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                        <div class="text-4">copyright</div>
                        <div class="copyright">
                            <a href="{% url 'index' %}" class="h-underline"><span class="fz">SIEC Business</span></a> &copy;     <span id="copyright-year"></span> &nbsp;<a href="{% url 'politicas' %}" class="h-underline">Política de provacidade</a>
                            <!--{%FOOTER_LINK} -->
                        </div>
                        <a href="#" onclick="goToByScroll('top'); return false;" class="top"></a>
                    </div>
                </div>
            </div>
        </footer>